code {
    border: solid 2px;
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    margin: 0 0.25rem;
    padding: 0.25rem 0.65rem;
    background: rgba(220, 220, 220, 0.25);
    border-color: #eeeeee;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
}

    pre code {
        display: block;
        line-height: 1.75;
        padding: 1rem 1.5rem;
        overflow-x: auto;
        border: solid 2px;
        font-family: "Courier New", monospace;
        font-size: 0.9rem;
        margin: 0 0.25rem;
        padding: 0.25rem 0.65rem;
        background: rgba(220, 220, 220, 0.25);
        border-color: #eeeeee;        
    }

table,td,tr,th {
    border: solid 1px;
    border-color: #eeeeee;        
    /*background: rgba(220, 220, 220, 0.25);*/
}

th {
font-weight:bold
}

th,td{
    padding-left: 1rem;
}

ul{
    margin-bottom: 0.5em;
}

p{
    margin-bottom: 1em;
}

#main{
    min-height: 700px;
}

p img {
    max-width: 100%
}